select2-component{
  &.invalid{
    .select2-container{
      .select2-selection.select2-selection--single{
        border-color: red !important;
      }
    }
  }

  .select2-container{
    .select2-selection.select2-selection--single{
      height: 42px !important;
      border: 2px solid !important;
      border-color:#dadfe6 !important;
    }
  }
  .select2-container--default{
    .select2-selection--single{

      .select2-selection__arrow{
        height: 40px !important;
        b {
          border-color: #2b2b2b transparent transparent transparent;
        }
      }

      .select2-selection__rendered{
        color: #2b2b2b !important;
        line-height: 36px !important;
        padding-left: 8px !important;
      }
    }
  }
}

.input-group{
  select2-component.form-control{
    margin: 0;
    padding: 0;
    border: 0;

    .select2-selection--single{
      border-radius: 4px 0 0 4px;
    }
  }
}