<div class="row">
  <div class="col-md-12 col-table">
    <nb-card [nbSpinner]="loadingData" nbSpinnerSize="large" nbSpinnerStatus="success">
      <nb-card-header>
        <span>Usuarios</span>
        <span class="float-right">
          <button class="btn btn-success btn-sm" routerLink="../create"><i class="ion-plus"></i> Nuevo</button>
        </span>
      </nb-card-header>
      <nb-card-body>
        <search-box (onChangeValue)="getPage(1, $event)" (onOptionChange)="refreshPage($event)" [baConfPage]="options" [show]="{export : false}"></search-box>
        <div class="table-container mt-2">
          <nb-alert status="primary" *ngIf="config.totalItems <= 0">
            No se encontraron resultados.
          </nb-alert>
          <table class="table table-striped" *ngIf="config.totalItems > 0">
            <thead>
              <tr class="no-top-border">
                <th style="min-width:150px; width: 150px;">Acción</th>
                <th style="min-width:300px; width: 300px;">Nombre completo</th>
                <th>Rol</th>
                <th>Genero</th>
                <th>Email</th>
                <th>Nacimiento</th>
              </tr>
            </thead>
            <tbody *ngIf="asyncDataTable">
              <tr *ngFor="let user of asyncDataTable | async | paginate: config" class="no-top-border">
                <td>
                  <span class="btn-inline">
                    <button class="btn btn-success"
                            type="button"
                            (click)="editItem(user._id)">
                      <i class="ion-edit"></i>
                    </button>
                    <button class="btn btn-primary"
                            type="button"
                            (click)="cloneModal.show(user._id)">
                      <i class="ion-refresh"></i>
                    </button>
                    <button class="btn btn-danger"
                            type="button"
                            (click)="deleteModal.show(user._id)">
                      <i class="ion-android-close"></i>
                    </button>
                  </span>
                </td>
                <td class="nowrap">{{user.first_name}} {{user.last_name}}</td>
                <th>{{user.role}}</th>
                <td class="text-center"><i [ngClass]="user.gender == 'female' ? 'ion-female' : 'ion-male'"></i> </td>
                <td class="align-left">{{user.email}}</td>
                <td class="align-left"> {{user.birthday}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      </nb-card-body>
    </nb-card>
    <div class="text-center">
      <pagination-component [config]="config" (pageChange)="getPage($event)" *ngIf="config.totalItems > 0"></pagination-component>
      <!--<pagination-controls (pageChange)="getPage($event)" id="table"></pagination-controls>-->
    </div>
  </div>
</div>

<custom-modal #cloneModal [baModalConfig]="{title:'Clonar Usuario',body:'Desea clonar este elemento?', buttonOkey: 'Clonar', buttonOkeyColor: 'btn-primary', buttonOkeyIcon : 'fa fa-clone'}" [disabled]="cloning" (onOkey)="cloneItem($event)"></custom-modal>
<custom-modal #deleteModal [baModalConfig]="{title:'Eliminar Usuario',body:'Esta seguro que desea eliminar este elemento?', buttonOkey: 'Eliminar', buttonOkeyColor: 'btn-danger', buttonOkeyIcon : 'ion-trash-a'}" [disabled]="deleting" (onOkey)="deleteItem($event)"></custom-modal>