@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mpps1w');
  src:  url('fonts/icomoon.eot?mpps1w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mpps1w') format('truetype'),
    url('fonts/icomoon.woff?mpps1w') format('woff'),
    url('fonts/icomoon.svg?mpps1w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-activity:before {
  content: "\e900";
}
.fi-airplay:before {
  content: "\e901";
}
.fi-alert-circle:before {
  content: "\e902";
}
.fi-alert-octagon:before {
  content: "\e903";
}
.fi-alert-triangle:before {
  content: "\e904";
}
.fi-align-center:before {
  content: "\e905";
}
.fi-align-justify:before {
  content: "\e906";
}
.fi-align-left:before {
  content: "\e907";
}
.fi-align-right:before {
  content: "\e908";
}
.fi-anchor:before {
  content: "\e909";
}
.fi-aperture:before {
  content: "\e90a";
}
.fi-arrow-down:before {
  content: "\e90b";
}
.fi-arrow-down-circle:before {
  content: "\e90c";
}
.fi-arrow-down-left:before {
  content: "\e90d";
}
.fi-arrow-down-right:before {
  content: "\e90e";
}
.fi-arrow-left:before {
  content: "\e90f";
}
.fi-arrow-left-circle:before {
  content: "\e910";
}
.fi-arrow-right:before {
  content: "\e911";
}
.fi-arrow-right-circle:before {
  content: "\e912";
}
.fi-arrow-up:before {
  content: "\e913";
}
.fi-arrow-up-circle:before {
  content: "\e914";
}
.fi-arrow-up-left:before {
  content: "\e915";
}
.fi-arrow-up-right:before {
  content: "\e916";
}
.fi-at-sign:before {
  content: "\e917";
}
.fi-award:before {
  content: "\e918";
}
.fi-bar-chart:before {
  content: "\e919";
}
.fi-bar-chart-2:before {
  content: "\e91a";
}
.fi-battery:before {
  content: "\e91b";
}
.fi-battery-charging:before {
  content: "\e91c";
}
.fi-bell:before {
  content: "\e91d";
}
.fi-bell-off:before {
  content: "\e91e";
}
.fi-bluetooth:before {
  content: "\e91f";
}
.fi-bold:before {
  content: "\e920";
}
.fi-book:before {
  content: "\e921";
}
.fi-book-open:before {
  content: "\e922";
}
.fi-bookmark:before {
  content: "\e923";
}
.fi-box:before {
  content: "\e924";
}
.fi-briefcase:before {
  content: "\e925";
}
.fi-calendar:before {
  content: "\e926";
}
.fi-camera:before {
  content: "\e927";
}
.fi-camera-off:before {
  content: "\e928";
}
.fi-cast:before {
  content: "\e929";
}
.fi-check:before {
  content: "\e92a";
}
.fi-check-circle:before {
  content: "\e92b";
}
.fi-check-square:before {
  content: "\e92c";
}
.fi-chevron-down:before {
  content: "\e92d";
}
.fi-chevron-left:before {
  content: "\e92e";
}
.fi-chevron-right:before {
  content: "\e92f";
}
.fi-chevron-up:before {
  content: "\e930";
}
.fi-chevrons-down:before {
  content: "\e931";
}
.fi-chevrons-left:before {
  content: "\e932";
}
.fi-chevrons-right:before {
  content: "\e933";
}
.fi-chevrons-up:before {
  content: "\e934";
}
.fi-chrome:before {
  content: "\e935";
}
.fi-circle:before {
  content: "\e936";
}
.fi-clipboard:before {
  content: "\e937";
}
.fi-clock:before {
  content: "\e938";
}
.fi-cloud:before {
  content: "\e939";
}
.fi-cloud-drizzle:before {
  content: "\e93a";
}
.fi-cloud-lightning:before {
  content: "\e93b";
}
.fi-cloud-off:before {
  content: "\e93c";
}
.fi-cloud-rain:before {
  content: "\e93d";
}
.fi-cloud-snow:before {
  content: "\e93e";
}
.fi-code:before {
  content: "\e93f";
}
.fi-codepen:before {
  content: "\e940";
}
.fi-command:before {
  content: "\e941";
}
.fi-compass:before {
  content: "\e942";
}
.fi-copy:before {
  content: "\e943";
}
.fi-corner-down-left:before {
  content: "\e944";
}
.fi-corner-down-right:before {
  content: "\e945";
}
.fi-corner-left-down:before {
  content: "\e946";
}
.fi-corner-left-up:before {
  content: "\e947";
}
.fi-corner-right-down:before {
  content: "\e948";
}
.fi-corner-right-up:before {
  content: "\e949";
}
.fi-corner-up-left:before {
  content: "\e94a";
}
.fi-corner-up-right:before {
  content: "\e94b";
}
.fi-cpu:before {
  content: "\e94c";
}
.fi-credit-card:before {
  content: "\e94d";
}
.fi-crop:before {
  content: "\e94e";
}
.fi-crosshair:before {
  content: "\e94f";
}
.fi-database:before {
  content: "\e950";
}
.fi-delete:before {
  content: "\e951";
}
.fi-disc:before {
  content: "\e952";
}
.fi-dollar-sign:before {
  content: "\e953";
}
.fi-download:before {
  content: "\e954";
}
.fi-download-cloud:before {
  content: "\e955";
}
.fi-droplet:before {
  content: "\e956";
}
.fi-edit:before {
  content: "\e957";
}
.fi-edit-2:before {
  content: "\e958";
}
.fi-edit-3:before {
  content: "\e959";
}
.fi-external-link:before {
  content: "\e95a";
}
.fi-eye:before {
  content: "\e95b";
}
.fi-eye-off:before {
  content: "\e95c";
}
.fi-facebook:before {
  content: "\e95d";
}
.fi-fast-forward:before {
  content: "\e95e";
}
.fi-feather:before {
  content: "\e95f";
}
.fi-file:before {
  content: "\e960";
}
.fi-file-minus:before {
  content: "\e961";
}
.fi-file-plus:before {
  content: "\e962";
}
.fi-file-text:before {
  content: "\e963";
}
.fi-film:before {
  content: "\e964";
}
.fi-filter:before {
  content: "\e965";
}
.fi-flag:before {
  content: "\e966";
}
.fi-folder:before {
  content: "\e967";
}
.fi-folder-minus:before {
  content: "\e968";
}
.fi-folder-plus:before {
  content: "\e969";
}
.fi-git-branch:before {
  content: "\e96a";
}
.fi-git-commit:before {
  content: "\e96b";
}
.fi-git-merge:before {
  content: "\e96c";
}
.fi-git-pull-request:before {
  content: "\e96d";
}
.fi-github:before {
  content: "\e96e";
}
.fi-gitlab:before {
  content: "\e96f";
}
.fi-globe:before {
  content: "\e970";
}
.fi-grid:before {
  content: "\e971";
}
.fi-hard-drive:before {
  content: "\e972";
}
.fi-hash:before {
  content: "\e973";
}
.fi-headphones:before {
  content: "\e974";
}
.fi-heart:before {
  content: "\e975";
}
.fi-help-circle:before {
  content: "\e976";
}
.fi-home:before {
  content: "\e977";
}
.fi-image:before {
  content: "\e978";
}
.fi-inbox:before {
  content: "\e979";
}
.fi-info:before {
  content: "\e97a";
}
.fi-instagram:before {
  content: "\e97b";
}
.fi-italic:before {
  content: "\e97c";
}
.fi-layers:before {
  content: "\e97d";
}
.fi-layout:before {
  content: "\e97e";
}
.fi-life-buoy:before {
  content: "\e97f";
}
.fi-link:before {
  content: "\e980";
}
.fi-link-2:before {
  content: "\e981";
}
.fi-linkedin:before {
  content: "\e982";
}
.fi-list:before {
  content: "\e983";
}
.fi-loader:before {
  content: "\e984";
}
.fi-lock:before {
  content: "\e985";
}
.fi-log-in:before {
  content: "\e986";
}
.fi-log-out:before {
  content: "\e987";
}
.fi-mail:before {
  content: "\e988";
}
.fi-map:before {
  content: "\e989";
}
.fi-map-pin:before {
  content: "\e98a";
}
.fi-maximize:before {
  content: "\e98b";
}
.fi-maximize-2:before {
  content: "\e98c";
}
.fi-menu:before {
  content: "\e98d";
}
.fi-message-circle:before {
  content: "\e98e";
}
.fi-message-square:before {
  content: "\e98f";
}
.fi-mic:before {
  content: "\e990";
}
.fi-mic-off:before {
  content: "\e991";
}
.fi-minimize:before {
  content: "\e992";
}
.fi-minimize-2:before {
  content: "\e993";
}
.fi-minus:before {
  content: "\e994";
}
.fi-minus-circle:before {
  content: "\e995";
}
.fi-minus-square:before {
  content: "\e996";
}
.fi-monitor:before {
  content: "\e997";
}
.fi-moon:before {
  content: "\e998";
}
.fi-more-horizontal:before {
  content: "\e999";
}
.fi-more-vertical:before {
  content: "\e99a";
}
.fi-move:before {
  content: "\e99b";
}
.fi-music:before {
  content: "\e99c";
}
.fi-navigation:before {
  content: "\e99d";
}
.fi-navigation-2:before {
  content: "\e99e";
}
.fi-octagon:before {
  content: "\e99f";
}
.fi-package:before {
  content: "\e9a0";
}
.fi-paperclip:before {
  content: "\e9a1";
}
.fi-pause:before {
  content: "\e9a2";
}
.fi-pause-circle:before {
  content: "\e9a3";
}
.fi-percent:before {
  content: "\e9a4";
}
.fi-phone:before {
  content: "\e9a5";
}
.fi-phone-call:before {
  content: "\e9a6";
}
.fi-phone-forwarded:before {
  content: "\e9a7";
}
.fi-phone-incoming:before {
  content: "\e9a8";
}
.fi-phone-missed:before {
  content: "\e9a9";
}
.fi-phone-off:before {
  content: "\e9aa";
}
.fi-phone-outgoing:before {
  content: "\e9ab";
}
.fi-pie-chart:before {
  content: "\e9ac";
}
.fi-play:before {
  content: "\e9ad";
}
.fi-play-circle:before {
  content: "\e9ae";
}
.fi-plus:before {
  content: "\e9af";
}
.fi-plus-circle:before {
  content: "\e9b0";
}
.fi-plus-square:before {
  content: "\e9b1";
}
.fi-pocket:before {
  content: "\e9b2";
}
.fi-power:before {
  content: "\e9b3";
}
.fi-printer:before {
  content: "\e9b4";
}
.fi-radio:before {
  content: "\e9b5";
}
.fi-refresh-ccw:before {
  content: "\e9b6";
}
.fi-refresh-cw:before {
  content: "\e9b7";
}
.fi-repeat:before {
  content: "\e9b8";
}
.fi-rewind:before {
  content: "\e9b9";
}
.fi-rotate-ccw:before {
  content: "\e9ba";
}
.fi-rotate-cw:before {
  content: "\e9bb";
}
.fi-rss:before {
  content: "\e9bc";
}
.fi-save:before {
  content: "\e9bd";
}
.fi-scissors:before {
  content: "\e9be";
}
.fi-search:before {
  content: "\e9bf";
}
.fi-send:before {
  content: "\e9c0";
}
.fi-server:before {
  content: "\e9c1";
}
.fi-settings:before {
  content: "\e9c2";
}
.fi-share:before {
  content: "\e9c3";
}
.fi-share-2:before {
  content: "\e9c4";
}
.fi-shield:before {
  content: "\e9c5";
}
.fi-shield-off:before {
  content: "\e9c6";
}
.fi-shopping-bag:before {
  content: "\e9c7";
}
.fi-shopping-cart:before {
  content: "\e9c8";
}
.fi-shuffle:before {
  content: "\e9c9";
}
.fi-sidebar:before {
  content: "\e9ca";
}
.fi-skip-back:before {
  content: "\e9cb";
}
.fi-skip-forward:before {
  content: "\e9cc";
}
.fi-slack:before {
  content: "\e9cd";
}
.fi-slash:before {
  content: "\e9ce";
}
.fi-sliders:before {
  content: "\e9cf";
}
.fi-smartphone:before {
  content: "\e9d0";
}
.fi-speaker:before {
  content: "\e9d1";
}
.fi-square:before {
  content: "\e9d2";
}
.fi-star:before {
  content: "\e9d3";
}
.fi-stop-circle:before {
  content: "\e9d4";
}
.fi-sun:before {
  content: "\e9d5";
}
.fi-sunrise:before {
  content: "\e9d6";
}
.fi-sunset:before {
  content: "\e9d7";
}
.fi-tablet:before {
  content: "\e9d8";
}
.fi-tag:before {
  content: "\e9d9";
}
.fi-target:before {
  content: "\e9da";
}
.fi-terminal:before {
  content: "\e9db";
}
.fi-thermometer:before {
  content: "\e9dc";
}
.fi-thumbs-down:before {
  content: "\e9dd";
}
.fi-thumbs-up:before {
  content: "\e9de";
}
.fi-toggle-left:before {
  content: "\e9df";
}
.fi-toggle-right:before {
  content: "\e9e0";
}
.fi-trash:before {
  content: "\e9e1";
}
.fi-trash-2:before {
  content: "\e9e2";
}
.fi-trending-down:before {
  content: "\e9e3";
}
.fi-trending-up:before {
  content: "\e9e4";
}
.fi-triangle:before {
  content: "\e9e5";
}
.fi-truck:before {
  content: "\e9e6";
}
.fi-tv:before {
  content: "\e9e7";
}
.fi-twitter:before {
  content: "\e9e8";
}
.fi-type:before {
  content: "\e9e9";
}
.fi-umbrella:before {
  content: "\e9ea";
}
.fi-underline:before {
  content: "\e9eb";
}
.fi-unlock:before {
  content: "\e9ec";
}
.fi-upload:before {
  content: "\e9ed";
}
.fi-upload-cloud:before {
  content: "\e9ee";
}
.fi-user:before {
  content: "\e9ef";
}
.fi-user-check:before {
  content: "\e9f0";
}
.fi-user-minus:before {
  content: "\e9f1";
}
.fi-user-plus:before {
  content: "\e9f2";
}
.fi-user-x:before {
  content: "\e9f3";
}
.fi-users:before {
  content: "\e9f4";
}
.fi-video:before {
  content: "\e9f5";
}
.fi-video-off:before {
  content: "\e9f6";
}
.fi-voicemail:before {
  content: "\e9f7";
}
.fi-volume:before {
  content: "\e9f8";
}
.fi-volume-1:before {
  content: "\e9f9";
}
.fi-volume-2:before {
  content: "\e9fa";
}
.fi-volume-x:before {
  content: "\e9fb";
}
.fi-watch:before {
  content: "\e9fc";
}
.fi-wifi:before {
  content: "\e9fd";
}
.fi-wifi-off:before {
  content: "\e9fe";
}
.fi-wind:before {
  content: "\e9ff";
}
.fi-x:before {
  content: "\ea00";
}
.fi-x-circle:before {
  content: "\ea01";
}
.fi-x-square:before {
  content: "\ea02";
}
.fi-zap:before {
  content: "\ea03";
}
.fi-zap-off:before {
  content: "\ea04";
}
.fi-zoom-in:before {
  content: "\ea05";
}
.fi-zoom-out:before {
  content: "\ea06";
}
