<div [formGroup]="formGroup">
    <div class="row" >
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>Datos Personales</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
<!--</form>-->
