<ngx-auth-block>
    <div class="text-center"><img src="assets/images/logo_only.png" alt="{{siteConf.companyName}} - Logo" width="100px" class="pb-3"></div>
    <h2 class="title">Inicio de Sesión</h2>
    <small class="form-text sub-title">Hola! Ingresa tu nombre de usuario y password para iniciar sesión.</small>
    <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
        <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
             class="alert alert-danger" role="alert">
            <div><strong>Hubo un error!</strong></div>
            <div *ngFor="let error of errors">{{ error }}</div>
        </div>
        <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
             class="alert alert-success" role="alert">
            <div><strong>Login correcto!</strong></div>
            <div *ngFor="let message of messages">{{ message }}</div>
        </div>
        <div class="form-group">
            <label for="input-email" class="sr-only">Email</label>
            <input name="email" [(ngModel)]="user.email" id="input-email"
                   class="form-control" placeholder="Nombre de usuario" #email="ngModel"
                   [class.form-control-danger]="email.invalid && email.touched" autofocus
                   [required]="getConfigValue('forms.validation.email.required')">
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
                El nombre de usuario es requerido!
            </small>
        </div>
        <div class="form-group">
            <label for="input-password" class="sr-only">Password</label>
            <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
                   class="form-control" placeholder="Password" #password="ngModel"
                   [class.form-control-danger]="password.invalid && password.touched"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [minlength]="getConfigValue('forms.validation.password.minLength')"
                   [maxlength]="getConfigValue('forms.validation.password.maxLength')">
            <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
                El password es requerido!
            </small>
            <small
                    class="form-text error"
                    *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
                Password should contains
                from {{ getConfigValue('forms.validation.password.minLength') }}
                to {{ getConfigValue('forms.validation.password.maxLength') }}
                characters
            </small>
        </div>
        <div class="form-group accept-group col-sm-12">
            <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Recordarme</nb-checkbox>
            <!--<a class="forgot-password" routerLink="../request-password">Olvide mi Password?</a>-->
        </div>
        <button nbButton
                status="success"
                fullWidth
                [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
                [class.btn-pulse]="submitted">
            Iniciar sesión
        </button>
        <div class="pt-3 text-center">
            <small class="form-text"><b><a [href]="siteConf.companyWebsite" target="_blank">{{siteConf.companyName}}</a></b> Admin 2018<br/>Todos los derechos reservados.</small>
        </div>
    </form>
</ngx-auth-block>