<div class="row">
  <div class="col-md-12 col-table">
    <nb-card title="Clientes">
      <nb-card-header>
        <span>Usuarios</span>
        <span class="pull-right"><button class="btn btn-success btn-tn btn-with-icon" ><i class="ion-plus"></i> Nuevo</button></span>
      </nb-card-header>
      <nb-card-body>
        <search-box (onChangeValue)="getPage(1, $event)" (onOptionChange)="refreshPage($event)" [baConfPage]="options" [show]="{export : true}"></search-box>
        <div class="table-container">
        <table class="table table-striped">
          <thead>
            <tr class="no-top-border">
              <th style="min-width:120px; max-width: 120px;">Acción</th>
              <th style="min-width:200px; max-width: 200px;">Nombre completo</th>
            </tr>
          </thead>
          <tbody *ngIf="asyncDataTable">
            <tr *ngFor="let demo of asyncDataTable | async | paginate: config" class="no-top-border">
              <td>
                <span class="btn-inline">
                  <button class="btn btn-info btn-round btn-tn btn-icon"
                          type="button"
                          (click)="editItem(demo.id)">
                    <i class="ion-edit"></i>
                  </button>
                  <button class="btn btn-info btn-round btn-tn btn-icon"
                          type="button"
                          (click)="cloneModal.show(provider.id)">
                    <i class="ion-refresh"></i>
                  </button>
                  <button class="btn btn-danger btn-round btn-tn btn-icon"
                          type="button"
                          (click)="deleteModal.show(demo.id)">
                    <i class="ion-android-close"></i>
                  </button>
                </span>
              </td>
              <td class="nowrap">{{demo.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </nb-card-body>
    </nb-card>
    <div class="text-center">
      <pagination-component [config]="config" (pageChange)="getPage($event)"></pagination-component>
      <!--<pagination-controls (pageChange)="getPage($event)" id="table"></pagination-controls>-->
    </div>
  </div>
</div>

<custom-modal #cloneModal [baModalConfig]="{title:'Clonar Usuario',body:'Desea clonar este elemento?', buttonOkey: 'Clonar', buttonOkeyColor: 'btn-info', buttonOkeyIcon : 'fa fa-clone'}" [disabled]="cloning" (onOkey)="cloneItem($event)"></custom-modal>
<custom-modal #deleteModal [baModalConfig]="{title:'Eliminar Usuario',body:'Esta seguro que desea eliminar este elemento?', buttonOkey: 'Eliminar', buttonOkeyColor: 'btn-danger', buttonOkeyIcon : 'ion-trash-a'}" [disabled]="deleting" (onOkey)="deleteItem($event)"></custom-modal>
